
{% extends "base.html" %}
{% load static %}

{% block titulo %}
<title>nuestros_4patas - Inicio</title>
{% endblock titulo %}


{% block contenido %}
<div style=" text-align:center">
    <img src="{% static 'assets/foto_natalia.PNG' %}" alt="">
</div>
<p style=" text-align:center">
Hola a todos! Mi nombre es Natalia Volpini, tengo 36 años y vivo en Argentina. Soy Contadora Publica y trabajo en una empresa de Big Data.
Actualmente me desempeño como Designer, basicamente soy el nexo entre los Comerciales y la gente de producto.
Comence el curso ya que necesito dorminar Python para poder tener un cambio de puesto. De todas maneras, mi interes por este mundo comenzo mucho antes, es mi tercer curso en Coderhouse. 
</p>
{% endblock contenido %}
